<!-- -->
<launch>
  <!-- args -->
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name="vehicle_filter" default="vehicle.*" />
  <arg name="sensor_definition_file" default="$(find carla_ego_vehicle)/config/sensors.json"/>
  <!-- includes -->
  <include file="$(find carla_ego_vehicle)/launch/carla_ego_vehicle.launch">
    <arg name='host' default='$(arg host)'/>
    <arg name='port' default='$(arg port)'/>
    <arg name="vehicle_filter" default='$(arg vehicle_filter)'/>
    <arg name="sensor_definition_file" default='$(arg sensor_definition_file)'/>
  </include>
  <!--&lt;!&ndash; params &ndash;&gt;-->
  <!--<param name="/carla/host" value="$(arg host)" />-->
  <!--<param name="/carla/port" value="$(arg port)" />-->
  <!--<param name="/carla/client/vehicle_filter" value="$(arg vehicle_filter)" />-->
  <!--&lt;!&ndash; nodes &ndash;&gt;-->
  <!--<node pkg="carla_ego_vehicle" type="carla_example_ego_vehicle.py" name="carla_example_ego_vehicle" output="screen"/>-->
</launch>
